<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>The 8th Anniversary</name>

<description>
8th Wedding Anniversary
</description>

<author href="https://example.com" email="alf.96037422@gmail.com">
Alf Chung
</author>

<icon src="icon.png" />
<icon src="res/icon/mdpi.png"   gap:platform="android"    gap:density="mdpi" />
<icon src="res/icon/hdpi.png"   gap:platform="android"    gap:density="hdpi" />
<icon src="res/icon/xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
<icon src="res/icon/xxhdpi.png"  gap:platform="android"    gap:density="xxhdpi" />

<gap:splash src="res/splash/ldpi.png"  gap:platform="android" gap:density="ldpi" />
<gap:splash src="res/splash/mdpi.png"  gap:platform="android" gap:density="mdpi" />
<gap:splash src="res/splash/hdpi.png"  gap:platform="android" gap:density="hdpi" />

<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />

<access origin="*" />

</widget>